       /* page display part  */
*{
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    
}

     /* Product information part */

.product{
    width: 300px;
    height: 300px;
    margin-right: 80px;
    margin-left: 130px;
}
.product-info{
    text-align: justify;
    margin-right: 150px;
}
.product-component{
    margin-bottom: 4px;
}

      /* product price part */
 
.product-price{
    margin-top: 70px;
}
.pc-cost{
    display: flex;
    justify-content: space-between;
    margin-right: 350px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.product-line{
    margin-bottom: 0px;
}
.product-line2{
    margin-top: 2px;
}
hr{
    width: 60%;
    float: right;
    margin-right: 330px;
}
.apply-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 6px;
    font-size: 20px;
    margin-left: 7px;

}
.total-cost{
    font-size: 35px;
    margin-left: 400px;
}